<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/correcao_av1_lp_20231t1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pre-processamento

In [31]:
def salva_alunos_em_lista(nome_arquivo):
  alunos = []
  with open(nome_arquivo, mode='r') as f_temp:
    for linha in f_temp:
      alunos.append(linha.strip())
  return alunos

def remove_tabulacao(conteudo):
  conteudo = conteudo.strip()
  return conteudo

In [ ]:
import pandas as pd

df_alunos_lp_temp = pd.read_csv('alunoslp.csv')
df_alunos_lp_temp['nome'].apply(lambda x: remove_tabulacao(x))
lista_nomes = df_alunos_lp_temp['nome'].apply(lambda x: remove_tabulacao(x)).to_list()
lista_nomes

In [16]:
alunos_l1, alunos_l2, alunos_l3, alunos_l4 = [], [], [], []
alunos_l1 = salva_alunos_em_lista(nome_arquivo='l1.txt')
alunos_l2 = salva_alunos_em_lista(nome_arquivo='l2.txt')
alunos_l3 = salva_alunos_em_lista(nome_arquivo='l3.txt')
alunos_l4 = salva_alunos_em_lista(nome_arquivo='l4.txt')
print(len(alunos_l1))
print(len(alunos_l2))
print(len(alunos_l3))
print(len(alunos_l3))

20
20
19
19

In [33]:
fez_l1, fez_l2, fez_l3, fez_l4 = ([], [], [], [])
for nome in lista_nomes:
  if nome in alunos_l1:
    fez_l1.append(1)
  else:
    fez_l1.append(0)
  if nome in alunos_l2:
    fez_l2.append(1)
  else:
    fez_l2.append(0)
  if nome in alunos_l3:
    fez_l3.append(1)
  else:
    fez_l3.append(0)
  if nome in alunos_l4:
    fez_l4.append(1)
  else:
    fez_l4.append(0)

In [38]:
dic_alunos_lp = {
    'nome':lista_nomes,
    'fez_l1':fez_l1,
    'fez_l2':fez_l2,
    'fez_l3':fez_l3,
    'fez_l4':fez_l4,
}

In [ ]:
dic_alunos_lp

In [ ]:
df_alunos_lp_av1 = pd.DataFrame(dic_alunos_lp)
df_alunos_lp_av1['soma'] = df_alunos_lp_av1['fez_l1'] + df_alunos_lp_av1['fez_l2'] + df_alunos_lp_av1['fez_l3'] + df_alunos_lp_av1['fez_l4']
df_alunos_lp_av1

In [44]:
df_alunos_lp_av1.to_csv('alunos_av1.csv', index=False)

# Carrega arquivos

In [45]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/lp/alunos_av1._corrigidocsv.csv

--2023-07-03 15:26:40--  https://raw.githubusercontent.com/armandossrecife/teste/main/lp/alunos_av1._corrigidocsv.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 925 [text/plain]
Saving to: ‘alunos_av1._corrigidocsv.csv’

alunos_av1._corrigi 100%[===================>]     925  --.-KB/s    in 0s

2023-07-03 15:26:41 (67.1 MB/s) - ‘alunos_av1._corrigidocsv.csv’ saved [925/925]

# Faz a análise...

In [46]:
df_alunos_av1 = pd.read_csv('alunos_av1._corrigidocsv.csv', sep=';')
df_alunos_av1

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma,av1
0,ANTONIO ANDERSON LIRA DA SILVA,1,1,1,1,4,"9,4"
1,ARIELLY CRISTINY RODRIGUES DOS SANTOS,1,1,1,1,4,"9,4"
2,BERNARDO FERREIRA DE MOURA RIBEIRO,1,1,1,1,4,"9,6"
3,FELIPE LAGES DE LIMA,1,1,1,1,4,"9,5"
4,GABRIEL ANGELO BARROS DE ARAUJO,1,1,1,0,3,"7,5"
5,GEYLDSON LUCAS MENDES DE SOUSA,1,1,1,1,4,"9,2"
6,GUSTAVO AYALA DOS SANTOS SOUSA,1,1,1,1,4,"9,4"
7,GUTEMBERG PORTELA ALVES DA SILVA,1,1,1,1,4,"9,0"
8,HEVERTON KENEDY ALVES COSTA MACEDO,1,1,1,1,4,"9,4"
9,IZAIAS DE MELO LIMA MORAIS,1,1,1,1,4,"9,3"
10,JAILSON CARDOSO ZARUR,1,1,1,1,4,"9,0"
11,KAUA MACHADO DA SILVA,1,1,1,1,4,"9,6"
12,MARCOS VICTOR VELOSO PAZ,1,1,1,1,4,"9,6"
13,MARIA DO ROSARIO DE FATIMA MARTINS FERREIRA,1,1,1,1,4,"9,2"
14,MATHEUS KAIKY BRITO SILVA,1,1,0,1,3,"7,5"
15,PEDRO FEITOSA SOARES,1,1,1,1,4,"9,6"
16,RAFAEL ALVES DE OLIVEIRA,1,1,1,1,4,"9,6"
17,RUAN ARTHUR DE SOUSA RAMOS,1,1,1,1,4,"9,0"
18,THALES RODRIGUES MARTINS,1,1,1,1,4,"9,3"
19,YASMINE MARTINS DA COSTA E SILVA,1,1,1,1,4,"9,5"

In [47]:
df_alunos_av1.sort_values(by='av1', ascending=False)

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma,av1
2,BERNARDO FERREIRA DE MOURA RIBEIRO,1,1,1,1,4,"9,6"
16,RAFAEL ALVES DE OLIVEIRA,1,1,1,1,4,"9,6"
15,PEDRO FEITOSA SOARES,1,1,1,1,4,"9,6"
12,MARCOS VICTOR VELOSO PAZ,1,1,1,1,4,"9,6"
11,KAUA MACHADO DA SILVA,1,1,1,1,4,"9,6"
19,YASMINE MARTINS DA COSTA E SILVA,1,1,1,1,4,"9,5"
3,FELIPE LAGES DE LIMA,1,1,1,1,4,"9,5"
1,ARIELLY CRISTINY RODRIGUES DOS SANTOS,1,1,1,1,4,"9,4"
0,ANTONIO ANDERSON LIRA DA SILVA,1,1,1,1,4,"9,4"
8,HEVERTON KENEDY ALVES COSTA MACEDO,1,1,1,1,4,"9,4"
6,GUSTAVO AYALA DOS SANTOS SOUSA,1,1,1,1,4,"9,4"
9,IZAIAS DE MELO LIMA MORAIS,1,1,1,1,4,"9,3"
18,THALES RODRIGUES MARTINS,1,1,1,1,4,"9,3"
13,MARIA DO ROSARIO DE FATIMA MARTINS FERREIRA,1,1,1,1,4,"9,2"
5,GEYLDSON LUCAS MENDES DE SOUSA,1,1,1,1,4,"9,2"
7,GUTEMBERG PORTELA ALVES DA SILVA,1,1,1,1,4,"9,0"
17,RUAN ARTHUR DE SOUSA RAMOS,1,1,1,1,4,"9,0"
10,JAILSON CARDOSO ZARUR,1,1,1,1,4,"9,0"
14,MATHEUS KAIKY BRITO SILVA,1,1,0,1,3,"7,5"
4,GABRIEL ANGELO BARROS DE ARAUJO,1,1,1,0,3,"7,5"