<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/correcao_av1_pe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carrega arquivos

In [30]:
def carrega_alunos(arquivo):
  l1 = list()
  try:
    f_l1 = open(arquivo, 'r')
    for linha in f_l1:
      l_temp = linha.split(' ')
      id = l_temp[0]
      matricula = l_temp[1]
      nome = l_temp[2:]
      temp = ' '.join(nome)
      temp = temp.strip()
      elemento = (id, matricula, temp)
      l1.append(elemento)
    f_l1.close() 
  except Exception as ex: 
    print(f'Erro ao carregar arquivo {arquivo}: {str(ex)}')
  return l1

def carrega_alunos_lista(arquivo):
  l1 = list()
  try:
    f_l1 = open(arquivo, 'r')
    for linha in f_l1:
      l1.append(linha.strip())
    f_l1.close() 
  except Exception as ex: 
    print(f'Erro ao carregar arquivo {arquivo}: {str(ex)}')
  return l1

In [55]:
# lista com id, matricula e nome
l_pe = carrega_alunos('alunospe.txt') 
print(l_pe)

[('1', '20229004650', 'ADEILTON JUSCELINO DA SILVA'), ('2', '20229004604', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA'), ('3', '20189043890', 'AMANDA LETICIA PEREIRA MEDEIROS'), ('4', '20229024670', 'ANA KAROLINE SILVA MARTINS'), ('5', '20229021893', 'ANTONIO LUCAS XAVIER SILVA'), ('6', '20219039025', 'ARTUR DE ARAUJO CASTRO'), ('7', '20189026600', 'BRUNO DOS SANTOS BARBOSA DANTAS'), ('8', '20209069147', 'EMERSON SOUSA LIMA'), ('9', '20209072106', 'FRANCISCA TAIANE PEREIRA MOURAO'), ('10', '20189054919', 'GABRIEL RODRIGUES DA SILVA'), ('11', '20209072071', 'IAN SURIEL ALVES FERREIRA'), ('12', '20199057182', 'ISLAN VICTOR MARTINS SALES SILVA'), ('13', '20229024680', 'JHUAN PABLO DE SOUSA AQUINO'), ('14', '20219048374', 'JOANA DARC CAMPELO FERNANDES'), ('15', '20219050588', 'JOAO HENRIQUE LIMA OLIVEIRA'), ('16', '20209025035', 'JOAO MARCOS SOARES BENVINDO'), ('17', '20209054126', 'JOAO VICTOR DE ANDRADE RAMOS'), ('18', '20229009638', 'JOAO VITOR DIAS PINHEIRO DA SILVA'), ('19', '20229036134', 'KAILTON RODRIGUES SILVA LIMA'), ('20', '20219045102', 'KAIO EMANUEL RIBEIRO DE MELO'), ('21', '20229011583', 'KLEMESON LUCAS DE SOUSA NEVES'), ('22', '20189041302', 'LEANDRO SANTOS REIS'), ('23', '20229004794', 'MARIA CLARA DA COSTA SOUSA BONFIM'), ('24', '20229031281', 'MOISES DA SILVA BASTOS'), ('25', '20229009450', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA'), ('26', '20219022734', 'PAULO HENRIQUE DA SILVA JUNIOR'), ('27', '20219045158', 'RIAN GABRIEL MORAES DE CARVALHO'), ('28', '20179141761', 'SAMUEL BEZERRA DE MENEZES DA SILVA'), ('29', '20209058930', 'SAMUEL RODRIGUES GOMES FERREIRA'), ('30', '20229009398', 'TERESA CRISTINA SOARES DE CARVALHO'), ('31', '20229004730', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES'), ('32', '20219017298', 'VANDERSON DE PAULA DA SILVA'), ('33', '20229004918', 'VICTOR GABRIEL RIBEIRO COELHO'), ('34', '20229021946', 'YAGO LOHANN LIMA MAGALHAES')]

In [56]:
# Carrega apenas os nomes dos alunos
f_alunos_pe = open('alunos_nomes_pe.txt', 'w')
for aluno in l_pe:
  temp = aluno[2] + '\n'
  f_alunos_pe.write(temp)
f_alunos_pe.close()

In [59]:
# Carrega os nomes dos alunos que fizeram cada lista
lista1 = carrega_alunos_lista('l1.txt')
lista2 = carrega_alunos_lista('l2.txt')
lista3 = carrega_alunos_lista('l3.txt')
lista4 = carrega_alunos_lista('l4.txt')

print(f'Lista 1: {len(lista1)}, {lista1}')
print(f'Lista 2: {len(lista2)}, {lista2}')
print(f'Lista 3: {len(lista3)}, {lista3}')
print(f'Lista 4: {len(lista4)}, {lista4}')

Lista 1: 28, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'AMANDA LETICIA PEREIRA MEDEIROS', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO MARCOS SOARES BENVINDO', 'JOAO VICTOR DE ANDRADE RAMOS', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KLEMESON LUCAS DE SOUSA NEVES', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'PAULO HENRIQUE DA SILVA JUNIOR', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'SAMUEL RODRIGUES GOMES FERREIRA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']
Lista 2: 21, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'AMANDA LETICIA PEREIRA MEDEIROS', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KLEMESON LUCAS DE SOUSA NEVES', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']
Lista 3: 25, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'EMERSON SOUSA LIMA', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOANA DARC CAMPELO FERNANDES', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO MARCOS SOARES BENVINDO', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KLEMESON LUCAS DE SOUSA NEVES', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']
Lista 4: 27, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOANA DARC CAMPELO FERNANDES', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO VICTOR DE ANDRADE RAMOS', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KAIO EMANUEL RIBEIRO DE MELO', 'KLEMESON LUCAS DE SOUSA NEVES', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'PAULO HENRIQUE DA SILVA JUNIOR', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']

# Faz a an√°lise...

In [60]:
l_alunos_pe = []
f_alunos_pe = open('alunos_nomes_pe.txt')
for linha in f_alunos_pe:
  l_alunos_pe.append(linha.strip())
f_alunos_pe.close()

print(f'{len(l_alunos_pe)}, {l_alunos_pe}')

34, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'AMANDA LETICIA PEREIRA MEDEIROS', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'BRUNO DOS SANTOS BARBOSA DANTAS', 'EMERSON SOUSA LIMA', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOANA DARC CAMPELO FERNANDES', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO MARCOS SOARES BENVINDO', 'JOAO VICTOR DE ANDRADE RAMOS', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KAILTON RODRIGUES SILVA LIMA', 'KAIO EMANUEL RIBEIRO DE MELO', 'KLEMESON LUCAS DE SOUSA NEVES', 'LEANDRO SANTOS REIS', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'PAULO HENRIQUE DA SILVA JUNIOR', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'SAMUEL RODRIGUES GOMES FERREIRA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']

In [61]:
f_alunos_csv = open('alunos_pe.csv', 'w')
f_alunos_csv.write('id, matricula, nome')
f_alunos_csv.write('\n')

for aluno in l_pe:
  id = aluno[0]
  matricula = aluno[1]
  nome_completo = aluno[2]
  nova_linha = id + ',' + matricula + ',' + nome_completo + '\n'
  f_alunos_csv.write(nova_linha)

f_alunos_csv.close()

In [62]:
print(f'Resolu√ß√£o - L1: {len(lista1)}, L2: {len(lista2)}, L3: {len(lista3)}, L4: {len(lista4)}')

Resolu√ß√£o - L1: 28, L2: 21, L3: 25, L4: 27

In [64]:
l_nome_completo = l_alunos_pe.copy()
print(f'{len(l_nome_completo)}, {l_nome_completo}')

34, ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'AMANDA LETICIA PEREIRA MEDEIROS', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'BRUNO DOS SANTOS BARBOSA DANTAS', 'EMERSON SOUSA LIMA', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOANA DARC CAMPELO FERNANDES', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO MARCOS SOARES BENVINDO', 'JOAO VICTOR DE ANDRADE RAMOS', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KAILTON RODRIGUES SILVA LIMA', 'KAIO EMANUEL RIBEIRO DE MELO', 'KLEMESON LUCAS DE SOUSA NEVES', 'LEANDRO SANTOS REIS', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'PAULO HENRIQUE DA SILVA JUNIOR', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'SAMUEL RODRIGUES GOMES FERREIRA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']

In [65]:
fez_l1, fez_l2, fez_l3, fez_l4 = ([], [], [], [])
for nome in l_nome_completo:
  if nome in lista1:  
    fez_l1.append(1)
  else:
    fez_l1.append(0)
  if nome in lista2:  
    fez_l2.append(1)
  else:
    fez_l2.append(0)
  if nome in lista3:  
    fez_l3.append(1)
  else:
    fez_l3.append(0)
  if nome in lista4:  
    fez_l4.append(1)
  else:
    fez_l4.append(0)

In [69]:
dic_alunos_pe = {
    'nome':l_nome_completo,
    'fez_l1':fez_l1, 
    'fez_l2':fez_l2, 
    'fez_l3':fez_l3, 
    'fez_l4':fez_l4, 
}

In [70]:
for k, v in dic_alunos_pe.items():
  print(k, v)

nome ['ADEILTON JUSCELINO DA SILVA', 'ALINE CRISLAINY BARBOSA DA SILVA SOUSA', 'AMANDA LETICIA PEREIRA MEDEIROS', 'ANA KAROLINE SILVA MARTINS', 'ANTONIO LUCAS XAVIER SILVA', 'ARTUR DE ARAUJO CASTRO', 'BRUNO DOS SANTOS BARBOSA DANTAS', 'EMERSON SOUSA LIMA', 'FRANCISCA TAIANE PEREIRA MOURAO', 'GABRIEL RODRIGUES DA SILVA', 'IAN SURIEL ALVES FERREIRA', 'ISLAN VICTOR MARTINS SALES SILVA', 'JHUAN PABLO DE SOUSA AQUINO', 'JOANA DARC CAMPELO FERNANDES', 'JOAO HENRIQUE LIMA OLIVEIRA', 'JOAO MARCOS SOARES BENVINDO', 'JOAO VICTOR DE ANDRADE RAMOS', 'JOAO VITOR DIAS PINHEIRO DA SILVA', 'KAILTON RODRIGUES SILVA LIMA', 'KAIO EMANUEL RIBEIRO DE MELO', 'KLEMESON LUCAS DE SOUSA NEVES', 'LEANDRO SANTOS REIS', 'MARIA CLARA DA COSTA SOUSA BONFIM', 'MOISES DA SILVA BASTOS', 'NAYWAN RAPHAEL CALACA DE OLIVEIRA', 'PAULO HENRIQUE DA SILVA JUNIOR', 'RIAN GABRIEL MORAES DE CARVALHO', 'SAMUEL BEZERRA DE MENEZES DA SILVA', 'SAMUEL RODRIGUES GOMES FERREIRA', 'TERESA CRISTINA SOARES DE CARVALHO', 'TIPHANY NATSU NISHIMURA ANDRADE ALVES', 'VANDERSON DE PAULA DA SILVA', 'VICTOR GABRIEL RIBEIRO COELHO', 'YAGO LOHANN LIMA MAGALHAES']
fez_l1 [1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
fez_l2 [1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1]
fez_l3 [1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1]
fez_l4 [1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1]

In [71]:
import pandas as pd

In [74]:
df_alunos_pe_av1 = pd.DataFrame(dic_alunos_pe)
df_alunos_pe_av1.head(3)

                                     nome  fez_l1  fez_l2  fez_l3  fez_l4
0             ADEILTON JUSCELINO DA SILVA       1       1       1       1
1  ALINE CRISLAINY BARBOSA DA SILVA SOUSA       1       1       1       1
2         AMANDA LETICIA PEREIRA MEDEIROS       1       1       0       0

In [75]:
df_alunos_pe_av1['soma'] = df_alunos_pe_av1.fez_l1 + df_alunos_pe_av1.fez_l2 + df_alunos_pe_av1.fez_l3 + df_alunos_pe_av1.fez_l4

In [76]:
df_alunos_pe_av1

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma
0,ADEILTON JUSCELINO DA SILVA,1,1,1,1,4
1,ALINE CRISLAINY BARBOSA DA SILVA SOUSA,1,1,1,1,4
2,AMANDA LETICIA PEREIRA MEDEIROS,1,1,0,0,2
3,ANA KAROLINE SILVA MARTINS,1,1,1,1,4
4,ANTONIO LUCAS XAVIER SILVA,1,1,1,1,4
5,ARTUR DE ARAUJO CASTRO,1,1,1,1,4
6,BRUNO DOS SANTOS BARBOSA DANTAS,0,0,0,0,0
7,EMERSON SOUSA LIMA,0,0,1,0,1
8,FRANCISCA TAIANE PEREIRA MOURAO,1,1,0,1,3
9,GABRIEL RODRIGUES DA SILVA,1,1,1,1,4
10,IAN SURIEL ALVES FERREIRA,1,1,1,1,4
11,ISLAN VICTOR MARTINS SALES SILVA,1,1,1,1,4
12,JHUAN PABLO DE SOUSA AQUINO,1,1,1,1,4
13,JOANA DARC CAMPELO FERNANDES,0,0,1,1,2
14,JOAO HENRIQUE LIMA OLIVEIRA,1,0,1,1,3
15,JOAO MARCOS SOARES BENVINDO,1,0,1,0,2
16,JOAO VICTOR DE ANDRADE RAMOS,1,0,0,1,2
17,JOAO VITOR DIAS PINHEIRO DA SILVA,1,1,1,1,4
18,KAILTON RODRIGUES SILVA LIMA,0,0,0,0,0
19,KAIO EMANUEL RIBEIRO DE MELO,0,0,0,1,1
20,KLEMESON LUCAS DE SOUSA NEVES,1,1,1,1,4
21,LEANDRO SANTOS REIS,0,0,0,0,0
22,MARIA CLARA DA COSTA SOUSA BONFIM,1,1,1,1,4
23,MOISES DA SILVA BASTOS,1,1,1,1,4
24,NAYWAN RAPHAEL CALACA DE OLIVEIRA,1,1,1,1,4
25,PAULO HENRIQUE DA SILVA JUNIOR,1,0,0,1,2
26,RIAN GABRIEL MORAES DE CARVALHO,1,0,1,1,3
27,SAMUEL BEZERRA DE MENEZES DA SILVA,1,0,1,1,3
28,SAMUEL RODRIGUES GOMES FERREIRA,1,0,0,0,1
29,TERESA CRISTINA SOARES DE CARVALHO,1,1,1,1,4
30,TIPHANY NATSU NISHIMURA ANDRADE ALVES,1,1,1,1,4
31,VANDERSON DE PAULA DA SILVA,1,1,1,1,4
32,VICTOR GABRIEL RIBEIRO COELHO,1,1,1,1,4
33,YAGO LOHANN LIMA MAGALHAES,1,1,1,1,4

In [89]:
df_alunos_pe_av1.to_excel('alunos_av1_pe.xls')

<ipython-input-89-74f412221ef9>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_alunos_pe_av1.to_excel('alunos_av1_pe.xls')

In [ ]:
df_alunos_pe_av1_2 = df_alunos_pe_av1.sort_values(by='soma', ascending=False)
df_alunos_pe_av1_2

In [83]:
df_alunos_fizeram_tudo = df_alunos_pe_av1_2.query('soma==4')
df_alunos_fizeram_tudo

,nome,fez_l1,fez_l2,fez_l3,fez_l4,soma
0,ADEILTON JUSCELINO DA SILVA,1,1,1,1,4
12,JHUAN PABLO DE SOUSA AQUINO,1,1,1,1,4
32,VICTOR GABRIEL RIBEIRO COELHO,1,1,1,1,4
31,VANDERSON DE PAULA DA SILVA,1,1,1,1,4
30,TIPHANY NATSU NISHIMURA ANDRADE ALVES,1,1,1,1,4
29,TERESA CRISTINA SOARES DE CARVALHO,1,1,1,1,4
24,NAYWAN RAPHAEL CALACA DE OLIVEIRA,1,1,1,1,4
23,MOISES DA SILVA BASTOS,1,1,1,1,4
22,MARIA CLARA DA COSTA SOUSA BONFIM,1,1,1,1,4
20,KLEMESON LUCAS DE SOUSA NEVES,1,1,1,1,4
1,ALINE CRISLAINY BARBOSA DA SILVA SOUSA,1,1,1,1,4
17,JOAO VITOR DIAS PINHEIRO DA SILVA,1,1,1,1,4
11,ISLAN VICTOR MARTINS SALES SILVA,1,1,1,1,4
9,GABRIEL RODRIGUES DA SILVA,1,1,1,1,4
3,ANA KAROLINE SILVA MARTINS,1,1,1,1,4
4,ANTONIO LUCAS XAVIER SILVA,1,1,1,1,4
5,ARTUR DE ARAUJO CASTRO,1,1,1,1,4
33,YAGO LOHANN LIMA MAGALHAES,1,1,1,1,4
10,IAN SURIEL ALVES FERREIRA,1,1,1,1,4

In [82]:
len(df_alunos_pe_av1_2.query('soma==4'))

19

In [90]:
!mkdir myfilespe

In [91]:
!cp *.* myfilespe

In [92]:
!zip -r tempe.zip myfilespe

  adding: myfilespe/ (stored 0%)
  adding: myfilespe/l1.txt (deflated 51%)
  adding: myfilespe/av1_pe.csv (deflated 58%)
  adding: myfilespe/alunos_pe.csv (deflated 49%)
  adding: myfilespe/alunos_nomes_pe.txt (deflated 52%)
  adding: myfilespe/l4.txt (deflated 50%)
  adding: myfilespe/alunospe.txt (deflated 51%)
  adding: myfilespe/l2.txt (deflated 47%)
  adding: myfilespe/alunos_av1_pe.xls (deflated 81%)
  adding: myfilespe/l3.txt (deflated 49%)