<a href="https://colab.research.google.com/github/armandossrecife/teste/blob/main/relacao_duplas_pe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd

pd.options.display.max_colwidth = 200

In [78]:
!wget https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_pe.csv

--2023-03-09 18:51:10--  https://raw.githubusercontent.com/armandossrecife/teste/main/alunos_pe.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1529 (1.5K) [text/plain]
Saving to: ‘alunos_pe.csv.2’

alunos_pe.csv.2     100%[===================>]   1.49K  --.-KB/s    in 0s

2023-03-09 18:51:10 (19.2 MB/s) - ‘alunos_pe.csv.2’ saved [1529/1529]

In [82]:
df_alunos_pe = pd.read_csv('alunos_pe.csv')
df_alunos_pe.columns = ['id', 'matricula', 'nome']
lista_nomes = df_alunos_pe.nome.tolist()

duplas_espontaneas = [('IAN SURIEL ALVES FERREIRA','FRANCISCA TAIANE PEREIRA MOURAO'),
('JOAO HENRIQUE LIMA OLIVEIRA','ARTUR DE ARAUJO CASTRO'),
('VICTOR GABRIEL RIBEIRO COELHO','YAGO LOHANN LIMA MAGALHAES'),
('VANDERSON DE PAULA DA SILVA','EMERSON SOUSA LIMA'),
('RIAN GABRIEL MORAES DE CARVALHO','PAULO HENRIQUE DA SILVA JUNIOR'),
('MARIA CLARA DA COSTA SOUSA BONFIM','ANA KAROLINE SILVA MARTINS'),
('ALINE CRISLAINY BARBOSA DA SILVA SOUSA','ADEILTON JUSCELINO DA SILVA'),
('SAMUEL BEZERRA DE MENEZES DA SILVA','JOANA DARC CAMPELO FERNANDES'),
('JHUAN PABLO DE SOUSA AQUINO','TIPHANY NATSU NISHIMURA ANDRADE ALVES'),
('KLEMESON LUCAS DE SOUSA NEVES','NAYWAN RAPHAEL CALACA DE OLIVEIRA'),
('MOISES DA SILVA BASTOS','TERESA CRISTINA SOARES DE CARVALHO')]

lista_nomes_ok = []
for dupla in duplas_espontaneas:
  lista_nomes_ok.append(dupla[0])
  lista_nomes_ok.append(dupla[1])

lista_nomes_para_sorteio = []
for nome in lista_nomes:
  if nome not in lista_nomes_ok:
    lista_nomes_para_sorteio.append(nome)

  
novas_duplas = []
novas_duplas.append((lista_nomes_para_sorteio[0], lista_nomes_para_sorteio[1]))
novas_duplas.append((lista_nomes_para_sorteio[2], lista_nomes_para_sorteio[3]))
novas_duplas.append((lista_nomes_para_sorteio[4], lista_nomes_para_sorteio[5]))
novas_duplas.append((lista_nomes_para_sorteio[6], lista_nomes_para_sorteio[7]))
novas_duplas.append((lista_nomes_para_sorteio[8], lista_nomes_para_sorteio[9]))
novas_duplas.append((lista_nomes_para_sorteio[10], lista_nomes_para_sorteio[11]))

duplas_projeto_final = duplas_espontaneas + novas_duplas

dict_duplas_temp = {}

lista_temp = []
for i, each in enumerate(duplas_projeto_final):
  dupla = 'dupla ' + str(i+1)
  lista_temp.append(each)
  dict_duplas_temp[dupla] = lista_temp
  lista_temp = []

lista_k = []
lista_v = []
for k, v in dict_duplas_temp.items():
  lista_k.append(k)
  lista_v.append((v[0][0], v[0][1]))

dict_duplas_pe = {
    'Duplas':lista_k,
    'Nomes':lista_v
}

df_duplas_pe = pd.DataFrame(dict_duplas_pe)
df_duplas_pe

,Duplas,Nomes
0,dupla 1,"(IAN SURIEL ALVES FERREIRA, FRANCISCA TAIANE PEREIRA MOURAO)"
1,dupla 2,"(JOAO HENRIQUE LIMA OLIVEIRA, ARTUR DE ARAUJO CASTRO)"
2,dupla 3,"(VICTOR GABRIEL RIBEIRO COELHO, YAGO LOHANN LIMA MAGALHAES)"
3,dupla 4,"(VANDERSON DE PAULA DA SILVA, EMERSON SOUSA LIMA)"
4,dupla 5,"(RIAN GABRIEL MORAES DE CARVALHO, PAULO HENRIQUE DA SILVA JUNIOR)"
5,dupla 6,"(MARIA CLARA DA COSTA SOUSA BONFIM, ANA KAROLINE SILVA MARTINS)"
6,dupla 7,"(ALINE CRISLAINY BARBOSA DA SILVA SOUSA, ADEILTON JUSCELINO DA SILVA)"
7,dupla 8,"(SAMUEL BEZERRA DE MENEZES DA SILVA, JOANA DARC CAMPELO FERNANDES)"
8,dupla 9,"(JHUAN PABLO DE SOUSA AQUINO, TIPHANY NATSU NISHIMURA ANDRADE ALVES)"
9,dupla 10,"(KLEMESON LUCAS DE SOUSA NEVES, NAYWAN RAPHAEL CALACA DE OLIVEIRA)"
10,dupla 11,"(MOISES DA SILVA BASTOS, TERESA CRISTINA SOARES DE CARVALHO)"
11,dupla 12,"(AMANDA LETICIA PEREIRA MEDEIROS, ANTONIO LUCAS XAVIER SILVA)"
12,dupla 13,"(BRUNO DOS SANTOS BARBOSA DANTAS, GABRIEL RODRIGUES DA SILVA)"
13,dupla 14,"(ISLAN VICTOR MARTINS SALES SILVA, JOAO MARCOS SOARES BENVINDO)"
14,dupla 15,"(JOAO VICTOR DE ANDRADE RAMOS, JOAO VITOR DIAS PINHEIRO DA SILVA)"
15,dupla 16,"(KAILTON RODRIGUES SILVA LIMA, KAIO EMANUEL RIBEIRO DE MELO)"
16,dupla 17,"(LEANDRO SANTOS REIS, SAMUEL RODRIGUES GOMES FERREIRA)"